In [3]:
import pandas as pd
import nltk

In [4]:
%pwd

u'C:\\Users\\Sanchari Chowdhuri\\Desktop\\MIM\\SEM2\\INST737-Digging into Data\\PROJECT\\milestone 2'

In [5]:
#import dataframe of rumor cases
df1=pd.read_csv("iphone1.csv")
df2=pd.read_csv("iphone2.csv")
df3=pd.read_csv("iphone3.csv")
df4=pd.read_csv("metro.csv")
df5=pd.read_csv("Trump-Russia.csv")
df6=pd.read_csv("DC missing.csv")

In [6]:
#merging all rumor dataframes into one dataframe
df_new = pd.concat([df1,df2,df3,df4,df5,df6])

In [8]:
# Save the dataframe in a csv
df_new.to_csv("combined_data.csv", index=False)

In [9]:
#this library assigns gender based on name
# To install the Sex Machine library run the following line of code in this cell
! pip install https://pypi.python.org/packages/dd/01/cc5b32af2b3658079736bd865019aeb8db04f9c5764eac72185c276f3aac/SexMachine-0.1.1.tar.gz

Collecting https://pypi.python.org/packages/dd/01/cc5b32af2b3658079736bd865019aeb8db04f9c5764eac72185c276f3aac/SexMachine-0.1.1.tar.gz
  Using cached SexMachine-0.1.1.tar.gz
  Requirement already satisfied (use --upgrade to upgrade): SexMachine==0.1.1 from https://pypi.python.org/packages/dd/01/cc5b32af2b3658079736bd865019aeb8db04f9c5764eac72185c276f3aac/SexMachine-0.1.1.tar.gz in c:\users\sanchari chowdhuri\anaconda2\lib\site-packages
Building wheels for collected packages: SexMachine
  Running setup.py bdist_wheel for SexMachine: started
  Running setup.py bdist_wheel for SexMachine: finished with status 'done'
  Stored in directory: C:\Users\Sanchari Chowdhuri\AppData\Local\pip\Cache\wheels\0a\9a\19\ec2dd809aeda18aff90f4cf5d9dd1da4b1187fdc7a5948061c
Successfully built SexMachine

You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [10]:
#importing  combined dataframe

df=pd.read_csv("combined_data.csv")
gender_df=df['user_name']
len(gender_df)

5157

In [11]:
#splitting name column
#http://stackoverflow.com/questions/38437847/pandas-split-name-column-into-first-and-last-name-if-contains-one-space
df[['first_name','last_name']] = df['user_name'].loc[df['user_name'].str.split().str.len() == 2].str.split(expand=True)

df['first_name'].fillna(df['user_name'],inplace=True)
first_name_df=df['first_name']
first_name_df.head(3)

0    Get_your_iphone7
1                  BJ
2              Wenzel
Name: first_name, dtype: object

In [12]:
#creating and appendinf list named appended data based on gender of names
import sexmachine.detector as gender
appended_data = []
d = gender.Detector()
for name in first_name_df:
    x=d.get_gender(name)
    appended_data.append(x)

In [13]:
len(appended_data)

5157

In [14]:
#creating datarame from list
G_df = pd.DataFrame({'Gender':appended_data})
G_df.head()

   Gender
0    andy
1    andy
2    male
3    male
4  female

In [15]:
#new dataset with added column of gender
new_df=pd.concat([df, G_df], axis=1)
new_df.head(2)

,id,text,created_at,retweet_count,favorite_count,source,user_id,user_screen_name,user_name,user_created_at,user_description,user_followers_count,user_friends_count,user_location,Type,first_name,last_name,Gender
0,8.360000e+17,Apple Inc. (NASDAQ:AAPL) investigating explosi...,02/26/17 22:18,0,0,IFTTT,7.730000e+17,Getfirstiphone7,Get_your_iphone7,09/07/16 11:10,flow the the link in bio to be the first #ip...,16.0,25.0,United States,electronics,Get_your_iphone7,NaN,andy
1,8.360000e+17,Oh dear... https://t.co/76G5OMEblK,02/26/17 21:49,0,0,Twitter for Android,1.327812e+08,BJHalliwell,BJ Halliwell,04/14/10 4:48,NaN,31.0,60.0,Melbourne VIC,electronics,BJ,Halliwell,andy

In [16]:
#replacing mostly female by female and mostly male by male
new1_df=new_df.replace('mostly_female', 'female')
new2_df=new_df.replace('mostly_male','male')

In [18]:
# Save the dataframe in a csv which will be further loaded in R for text based predictions
new2_df.to_csv("Rumor.csv", index=False)

In [22]:
#reading merged and gender segregated data
text_df=pd.read_csv("Rumor.csv")

#retaining certain columns
dataset2=text_df[['favorite_count','retweet_count','user_followers_count','user_friends_count','Gender','Type']]

In [23]:
dataset2.head(3)

,favorite_count,retweet_count,user_followers_count,user_friends_count,Gender,Type
0,0,0,16.0,25.0,andy,electronics
1,0,0,31.0,60.0,andy,electronics
2,0,0,577.0,860.0,male,electronics

In [24]:
# Save the dataframe in a csv which will be further loaded in R for text based predictions
dataset2.to_csv("Rumor2.csv", index=False)